<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="/style.css">
        <script src="//use.typekit.net/ztf8rcq.js"></script>
        <script>try{Typekit.load({ async: false });}catch(e){}</script>
        <script src="/soundcloud.js"></script>
        <script src="/youtube.js"></script>
        <script src="/elm-client.js"></script>
        <script src="https://code.ospry.io/v1/ospry.js"></script>
    </head>
    <body>
        <div id="youtube-player">
            <div id="player"></div>
        </div>
        <script>
            var ospry = new Ospry('<%=ospry_id%>');

            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            function onYouTubeIframeAPIReady() {
                var soundcloudClientId = '<%=client_id%>';
                var app = Elm.Feed.Main.fullscreen(soundcloudClientId);
                var soundcloud = new Soundcloud(soundcloudClientId, app);
                var youtube = new Youtube(app);

                app.ports.playSoundcloudTrack.subscribe(function(track) {
                    youtube.pause();
                    soundcloud.play(track);
                });

                app.ports.changeSoundcloudCurrentTime.subscribe(function(amount) {
                    soundcloud.seek(amount);
                });

                app.ports.changeYoutubeCurrentTime.subscribe(function(amount) {
                    youtube.seek(amount);
                });

                app.ports.pause.subscribe(function(trackId) {
                    soundcloud.pause();
                    youtube.pause();
                });

                app.ports.playYoutubeTrack.subscribe(function(track) {
                    soundcloud.pause();
                    youtube.play(track);
                });

                app.ports.scroll.subscribe(function(offset) {
                    window.scrollBy(0, offset);
                });

                app.ports.uploadImage.subscribe(function () {
                    var form = document.getElementById('cover-upload');
                    ospry.up({
                        form: form,
                        imageReady: function(err, metadata) {
                            app.ports.imageUploaded.send(metadata.url);
                        }
                    });
                });
            }
        </script>
    </body>
</html>
