<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="/style.css">
        <script src="//use.typekit.net/ztf8rcq.js"></script>
        <script>try{Typekit.load({ async: false });}catch(e){}</script>
        <script src="/soundcloud.js"></script>
        <script src="/youtube.js"></script>
        <script src="/radio.js"></script>
    </head>
    <body>
        <div id="youtube-player">
            <div id="player"></div>
        </div>
        <script>
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            function onYouTubeIframeAPIReady() {
                var soundcloudClientId = '<%=client_id%>';
                var playlist = <%=playlist%>;
                var app = Elm.Radio.Main.fullscreen(JSON.stringify(playlist));
                var soundcloud = new Soundcloud(soundcloudClientId, app);
                var youtube = new Youtube(app);

                app.ports.playSoundcloudTrack.subscribe(function(track) {
                    youtube.pause();
                    soundcloud.play(track);
                });

                app.ports.changeSoundcloudCurrentTime.subscribe(function(amount) {
                    soundcloud.seek(amount);
                });

                app.ports.changeYoutubeCurrentTime.subscribe(function(amount) {
                    youtube.seek(amount);
                });

                app.ports.pause.subscribe(function(trackId) {
                    soundcloud.pause();
                    youtube.pause();
                });

                app.ports.playYoutubeTrack.subscribe(function(track) {
                    soundcloud.pause();
                    youtube.play(track);
                });

                app.ports.scroll.subscribe(function(offset) {
                    window.scrollBy(0, offset);
                });
            }
        </script>
    </body>
</html>
