* {
  font-family: "proxima-nova";
  color: #4D4D4D;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 18px;
  margin: 0; }

body {
  overflow-y: scroll; }

.global-player {
  border-top: 1px solid #f0f0f0;
  padding: 12px;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  display: flex; }
  .global-player img {
    width: 50px;
    height: 50px;
    background: #f0f0f0;
    float: left;
    margin: 0 6px; }
  .global-player .controls {
    margin: auto; }
    .global-player .controls div {
      cursor: pointer;
      color: transparent;
      float: left; }
    .global-player .controls .playback-button {
      background: url("/images/play.svg") no-repeat 55% center;
      width: 46px; }
      .global-player .controls .playback-button.playing {
        background: url("/images/pause.svg") no-repeat 55% center; }
      .global-player .controls .playback-button.error {
        background: url("/images/error.svg") no-repeat 55% center; }
    .global-player .controls .next-button {
      background: url("/images/next.svg") no-repeat 55% center;
      width: 33px; }
  .global-player .track-info {
    margin: auto;
    max-width: 236px;
    padding: 0 12px; }
    .global-player .track-info div {
      font-size: 14px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
  .global-player .progress-bar {
    flex: 1;
    margin: auto; }
  .global-player .actions {
    padding: 10px;
    cursor: pointer;
    margin: auto; }
    .global-player .actions div {
      float: left;
      padding: 0 12px; }

.navigation {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  border-bottom: 1px solid #f0f0f0;
  background: white; }
  .navigation ul {
    display: flex;
    justify-content: center; }
    .navigation ul li {
      display: flex; }
      .navigation ul li a {
        padding: 9px 36px;
        text-decoration: none;
        position: relative; }
        .navigation ul li a.active {
          background: #f0f0f0; }
        .navigation ul li a.playing:before {
          content: "playing";
          display: inline-block;
          position: absolute;
          background: url("/images/play.svg") no-repeat center;
          width: 18px;
          height: 18px;
          color: transparent;
          background-size: 18px 18px;
          left: 12px;
          top: 10px;
          opacity: 0.2; }

.playlist-container {
  max-width: 700px;
  margin: 112px auto 224px auto; }
  .playlist-container .track {
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 16px; }
    .playlist-container .track .track-info-container {
      position: relative;
      min-height: 100px;
      display: flex; }
      .playlist-container .track .track-info-container img {
        width: 100px;
        min-width: 100px;
        height: 100px;
        background: #f0f0f0; }
      .playlist-container .track .track-info-container .track-info {
        padding: 10px;
        line-height: 24px; }
        .playlist-container .track .track-info-container .track-info .reposter {
          padding-left: 10px; }
      .playlist-container .track .track-info-container .actions {
        z-index: 1;
        padding: 10px; }
        .playlist-container .track .track-info-container .actions div {
          font-size: 14px;
          color: #777;
          float: left;
          padding-right: 14px; }
      .playlist-container .track .track-info-container .time-ago {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        color: #777;
        font-size: 14px; }
    .playlist-container .track.error {
      opacity: 0.5; }

.progress-bar .outer {
  background: #e5e5e5;
  width: 100%;
  height: 5px;
  cursor: pointer; }
.progress-bar .inner {
  background-color: #02779E;
  height: 100%; }

.more-button {
  text-align: center;
  cursor: pointer;
  line-height: 100px;
  border: 1px solid #f0f0f0; }
  .more-button:hover {
    background: #f0f0f0; }

.custom-queue {
  position: fixed;
  top: 40px;
  bottom: 75px;
  left: 0;
  width: 210px;
  overflow-y: auto; }

.custom-queue-track {
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center; }
  .custom-queue-track img {
    width: 50px;
    height: 50px;
    background: #f0f0f0;
    float: left;
    margin: 0 6px 0 0; }
  .custom-queue-track .track-info {
    width: 160px; }
    .custom-queue-track .track-info div {
      font-size: 14px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }

.radio-track {
  display: flex;
  justify-content: center;
  margin-top: 120px; }
  .radio-track .radio-cover {
    width: 50%; }
    .radio-track .radio-cover img {
      width: 400px;
      height: 400px;
      float: right; }
  .radio-track .track-info {
    padding: 36px 0 0 36px;
    width: 50%;
    line-height: 42px; }
  .radio-track .artist {
    font-size: 36px;
    text-transform: uppercase; }
  .radio-track .title {
    font-size: 32px; }
  .radio-track .resume-radio {
    cursor: pointer; }

#youtube-player {
  position: absolute;
  top: -620px; }

.latest-tracks {
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  width: 95%; }
  .latest-tracks .content {
    display: flex;
    flex-wrap: wrap; }
  .latest-tracks .view-more {
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    margin-top: 24px; }

.latest-track {
  border: 9px solid white;
  margin: 0px 18px 24px 18px;
  width: 200px;
  min-width: 200px; }
  .latest-track.error {
    opacity: 0.5; }
  .latest-track.selected {
    background: #d7d7d7;
    border: 9px solid #d7d7d7; }
  .latest-track .cover {
    cursor: pointer;
    width: 200px;
    height: 200px; }
  .latest-track img {
    width: 200px;
    height: 200px; }
  .latest-track .track-info {
    position: relative;
    padding: 12px;
    padding-bottom: 0px; }
    .latest-track .track-info .artist {
      font-size: 16px;
      text-transform: uppercase;
      line-height: 1;
      margin-bottom: 6px; }
    .latest-track .track-info .title {
      font-size: 14px;
      margin-bottom: 3px; }
    .latest-track .track-info .time-ago {
      opacity: 0.8;
      font-size: 14px; }
  .latest-track .extra-info {
    opacity: 0.55; }
  .latest-track .source {
    font-size: 14px;
    opacity: 0.5;
    text-decoration: none; }
    .latest-track .source:hover {
      text-decoration: underline; }
  .latest-track .time-ago {
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 14px; }

/*# sourceMappingURL=style.css.map */
