* {
    font-family: "proxima-nova";
    color: #4D4D4D;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}

body {
    overflow-y: scroll;
}

.main {
    margin-top: 120px;
}

.global-player {
    border-top: 1px solid #f0f0f0;
    padding: 12px;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    display: flex;
    img {
        width: 50px;
        height: 50px;
        background: #f0f0f0;
        float: left;
        margin: 0 6px;
    }
    .controls {
        margin: auto;
        div {
            cursor: pointer;
            color: transparent;
            float: left;
        }
        .playback-button {
            background: url('/images/play.svg') no-repeat 55% center;
            width: 46px;
            &.playing {
                background: url('/images/pause.svg') no-repeat 55% center;
            }
            &.error {
                background: url('/images/error.svg') no-repeat 55% center;
            }
        }
        .next-button {
            background: url('/images/next.svg') no-repeat 55% center;
            width: 33px;
        }
    }
    .track-info {
        margin: auto;
        max-width: 236px;
        padding: 0 12px;
        div {
            font-size: 14px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    .progress-bar {
        flex: 1;
        margin: auto;
    }
    .actions {
        padding-left: 10px;
        cursor: pointer;
        margin: auto;
    }
    img.like {
        width: 16px;
        height: 16px;
        background: inherit;
    }
}

.navigation {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    text-transform: uppercase;
    border-bottom: 1px solid #f0f0f0;
    background: white;
    ul {
        display: flex;
        justify-content: center;
        li {
            display: flex;
            a {
                padding: 9px 36px;
                text-decoration: none;
                position: relative;
                &.active {
                    background: #f0f0f0;
                }
                &.playing:before {
                    content: "playing";
                    display: inline-block;
                    position: absolute;
                    background: url("/images/play.svg") no-repeat center;
                    width: 18px;
                    height: 18px;
                    color: transparent;
                    background-size: 18px 18px;
                    left: 12px;
                    top: 10px;
                    opacity: 0.2;
                }
            }
        }
    }
}

.playlist-container {
    max-width: 700px;
    margin: 112px auto 224px auto;
    .track {
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 16px;
        .track-info-container {
            position: relative;
            min-height: 100px;
            display: flex;
            img {
                width: 100px;
                min-width: 100px;
                height: 100px;
                background: #f0f0f0;
            }
            .track-info {
                padding: 10px;
                line-height: 24px;
                .reposter {
                    padding-left: 10px;
                }
            }
            .actions {
                z-index: 1;
                padding: 10px;
                div {
                    font-size: 14px;
                    color: #777;
                    float: left;
                    padding-right: 14px;
                }
            }
            .time-ago {
                position: absolute;
                top: 0;
                right: 0;
                padding: 10px;
                color: #777;
                font-size: 14px;
            }
        }
        &.error {
            opacity: 0.5;
        }
    }
}

.progress-bar {
    position: relative;
    .outer {
        background: #e5e5e5;
        width: 100%;
        height: 5px;
        cursor: pointer;
    }
    .inner {
        background-color: #02779E;
        height: 100%;
    }
    .drag {
      width: 100%;
      position: absolute;
      height: 10px;
      margin-top: -5px;
      top: 0;
      cursor: pointer;
      z-index: 100;
  }
}

.more-button {
    text-align: center;
    cursor: pointer;
    line-height: 100px;
    border: 1px solid #f0f0f0;
    &:hover {
        background: #f0f0f0;
    }
}

.custom-queue {
    position: fixed;
    top: 40px;
    bottom: 75px;
    left: 0;
    width: 210px;
    overflow-y: auto;
}
.custom-queue-track {
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    img {
        width: 50px;
        height: 50px;
        background: #f0f0f0;
        float: left;
        margin: 0 6px 0 0;
    }
    .track-info {
        width: 160px;
        div {
            font-size: 14px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

.radio-track {
    display: flex;
    justify-content: center;
    margin-top: 9.5%;
    .radio-cover {
        width: 50%;
        img {
            width: 400px;
            height: 400px;
            float: right;
        }
    }
    .track-info-wrapper {
        width: 50%;
    }
    .track-info {
        padding: 36px;
        max-width: 600px;
        line-height: 42px;
    }
    .artist {
        font-size: 24px;
        line-height: 1;
        padding-bottom: 24px;
    }
    .title {
        font-size: 36px;
        text-transform: uppercase;
        line-height: 1;
        padding-bottom: 24px;
    }
    .resume-radio {
        cursor: pointer;
        &:before {
            background: url("/images/play.svg") no-repeat 0% center;
            width: 18px;
            height: 12px;
            background-size: 12px 12px;
            display: inline-block;
            content: "";
            opacity: 0.9;
        }
    }
}

#youtube-player {
    position: absolute;
    top: -620px;
}

.latest-tracks {
    margin-bottom: 160px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    .content {
        display: flex;
        flex-wrap: wrap;
    }
    .view-more {
        font-size: 16px;
        text-decoration: underline;
        cursor: pointer;
        text-align: center;
        margin-top: 72px;
    }
}

.latest-track {
    border: 9px solid white;
    margin: 0px 18px 24px 18px;
    width: 200px;
    min-width: 200px;
    &.error {
        opacity: 0.5;
    }
    &.selected {
        background: rgb(240, 240, 240);
        border: 9px solid rgb(240, 240, 240);
    }
    .cover {
        cursor: pointer;
        width: 200px;
        height: 200px;
    }
    img {
        width: 200px;
        height: 200px;
    }
    .track-info {
        position: relative;
        padding: 12px;
        padding-bottom: 0px;
        .artist {
            font-size: 16px;
            text-transform: uppercase;
            line-height: 1;
            margin-bottom: 6px;
        }
        .title {
            font-size: 14px;
            margin-bottom: 3px;
        }
        .time-ago {
            opacity: 0.8;
            font-size: 14px;
        }
    }
    .extra-info {
        opacity: 0.55;
    }
    .source {
        font-size: 14px;
        opacity: 0.5;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .time-ago {
        position: absolute;
        top: 6px;
        left: 6px;
        font-size: 14px;
    }
}

.login-form,
.signup-form {
    max-width: 250px;
    margin: auto;
    input {
        border: none;
        margin: 24px 0px 0px 0px;
        padding: 12px 0;
        width: 100%;
        border-bottom: 2px solid #4D4D4D;
        &:focus {
            outline: none;
            border-bottom: 2px solid #02779E;
        }
    }
    button {
        margin-top: 24px;
        margin-bottom: 24px;
        background: #f0f0f0;
        border: 1px solid #e0e0e0;
        width: 100%;
        height: 48px;
        cursor: pointer;
        &:disabled {
            opacity: 0.5;
        }
    }
}

.error {
    color: red;
    font-size: 14px;
}

.connected-user {
    position: fixed;
    top: 0;
    right: 0;
    padding: 12px;
    font-size: 14px;
    z-index: 9999;
}
